@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Tema Light */
  --color-gabilight: oklch(98.5% 0.002 247.839);
  --color-gabidark: oklch(21% 0.034 264.665);

  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);

  --color-red-50: oklch(97.1% 0.013 17.38);
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-200: oklch(88.5% 0.062 18.334);
  --color-red-300: oklch(80.8% 0.114 19.571);
  --color-red-400: oklch(70.4% 0.191 22.216);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
  --color-red-800: oklch(44.4% 0.177 26.899);
  --color-red-900: oklch(39.6% 0.141 25.723);

  --color-yellow-50: oklch(98.7% 0.026 102.212);
  --color-yellow-100: oklch(97.3% 0.071 103.193);
  --color-yellow-200: oklch(94.5% 0.129 101.54);
  --color-yellow-300: oklch(90.5% 0.182 98.111);
  --color-yellow-400: oklch(85.2% 0.199 91.936);
  --color-yellow-500: oklch(79.5% 0.184 86.047);
  --color-yellow-600: oklch(68.1% 0.162 75.834);
  --color-yellow-700: oklch(55.4% 0.135 66.442);
  --color-yellow-800: oklch(47.6% 0.114 61.907);
  --color-yellow-900: oklch(42.1% 0.095 57.708);

  --color-green-50: oklch(98.2% 0.018 155.826);
  --color-green-100: oklch(96.2% 0.044 156.743);
  --color-green-200: oklch(92.5% 0.084 155.995);
  --color-green-300: oklch(87.1% 0.15 154.449);
  --color-green-400: oklch(79.2% 0.209 151.711);
  --color-green-500: oklch(72.3% 0.219 149.579);
  --color-green-600: oklch(62.7% 0.194 149.214);
  --color-green-700: oklch(52.7% 0.154 150.069);
  --color-green-800: oklch(44.8% 0.119 151.328);
  --color-green-900: oklch(39.3% 0.095 152.535);

  --color-blue-50: oklch(97% 0.014 254.604);
  --color-blue-100: oklch(93.2% 0.032 255.585);
  --color-blue-200: oklch(88.2% 0.059 254.128);
  --color-blue-300: oklch(80.9% 0.105 251.813);
  --color-blue-400: oklch(70.7% 0.165 254.624);
  --color-blue-500: oklch(62.3% 0.214 259.815);
  --color-blue-600: oklch(54.6% 0.245 262.881);
  --color-blue-700: oklch(48.8% 0.243 264.376);
  --color-blue-800: oklch(42.4% 0.199 265.638);
  --color-blue-900: oklch(37.9% 0.146 265.522);

  --color-indigo-50: oklch(96.2% 0.018 272.314);
  --color-indigo-100: oklch(93% 0.034 272.788);
  --color-indigo-200: oklch(87% 0.065 274.039);
  --color-indigo-300: oklch(78.5% 0.115 274.713);
  --color-indigo-400: oklch(67.3% 0.182 276.935);
  --color-indigo-500: oklch(58.5% 0.233 277.117);
  --color-indigo-600: oklch(51.1% 0.262 276.966);
  --color-indigo-700: oklch(45.7% 0.24 277.023);
  --color-indigo-800: oklch(39.8% 0.195 277.366);
  --color-indigo-900: oklch(35.9% 0.144 278.697);

  --color-purple-50: oklch(97.7% 0.014 308.299);
  --color-purple-100: oklch(94.6% 0.033 307.174);
  --color-purple-200: oklch(90.2% 0.063 306.703);
  --color-purple-300: oklch(82.7% 0.119 306.383);
  --color-purple-400: oklch(71.4% 0.203 305.504);
  --color-purple-500: oklch(62.7% 0.265 303.9);
  --color-purple-600: oklch(55.8% 0.288 302.321);
  --color-purple-700: oklch(49.6% 0.265 301.924);
  --color-purple-800: oklch(43.8% 0.218 303.724);
  --color-purple-900: oklch(38.1% 0.176 304.987);

  --color-pink-50: oklch(97.1% 0.014 343.198);
  --color-pink-100: oklch(94.8% 0.028 342.258);
  --color-pink-200: oklch(89.9% 0.061 343.231);
  --color-pink-300: oklch(82.3% 0.12 346.018);
  --color-pink-400: oklch(71.8% 0.202 349.761);
  --color-pink-500: oklch(65.6% 0.241 354.308);
  --color-pink-600: oklch(59.2% 0.249 0.584);
  --color-pink-700: oklch(52.5% 0.223 3.958);
  --color-pink-800: oklch(45.9% 0.187 3.815);
  --color-pink-900: oklch(40.8% 0.153 2.432);

  --color-white: #ffffff;
}

.dark {
  /* Tema Dark */

  --color-gabilight: oklch(98.5% 0.002 247.839);
  --color-gabidark: oklch(40.8% 0.153 2.432);

  --color-gray-50: oklch(21% 0.034 264.665);
  --color-gray-100: oklch(27.8% 0.033 256.848);
  --color-gray-200: oklch(37.3% 0.034 259.733);
  --color-gray-300: oklch(44.6% 0.03 256.802);
  --color-gray-400: oklch(55.1% 0.027 264.364);
  --color-gray-500: oklch(70.7% 0.022 261.325);
  --color-gray-600: oklch(87.2% 0.01 258.338);
  --color-gray-700: oklch(92.8% 0.006 264.531);
  --color-gray-800: oklch(96.7% 0.003 264.542);
  --color-gray-900: oklch(98.5% 0.002 247.839);

  --color-red-50: oklch(39.6% 0.141 25.723);
  --color-red-100: oklch(44.4% 0.177 26.899);
  --color-red-200: oklch(50.5% 0.213 27.518);
  --color-red-300: oklch(57.7% 0.245 27.325);
  --color-red-400: oklch(63.7% 0.237 25.331);
  --color-red-500: oklch(70.4% 0.191 22.216);
  --color-red-600: oklch(80.8% 0.114 19.571);
  --color-red-700: oklch(88.5% 0.062 18.334);
  --color-red-800: oklch(93.6% 0.032 17.717);
  --color-red-900: oklch(97.1% 0.013 17.38);

  --color-yellow-50: oklch(42.1% 0.095 57.708);
  --color-yellow-100: oklch(47.6% 0.114 61.907);
  --color-yellow-200: oklch(55.4% 0.135 66.442);
  --color-yellow-300: oklch(68.1% 0.162 75.834);
  --color-yellow-400: oklch(79.5% 0.184 86.047);
  --color-yellow-500: oklch(85.2% 0.199 91.936);
  --color-yellow-600: oklch(90.5% 0.182 98.111);
  --color-yellow-700: oklch(94.5% 0.129 101.54);
  --color-yellow-800: oklch(97.3% 0.071 103.193);
  --color-yellow-900: oklch(98.7% 0.026 102.212);

  --color-green-50: oklch(39.3% 0.095 152.535);
  --color-green-100: oklch(44.8% 0.119 151.328);
  --color-green-200: oklch(52.7% 0.154 150.069);
  --color-green-300: oklch(62.7% 0.194 149.214);
  --color-green-400: oklch(72.3% 0.219 149.579);
  --color-green-500: oklch(79.2% 0.209 151.711);
  --color-green-600: oklch(87.1% 0.15 154.449);
  --color-green-700: oklch(92.5% 0.084 155.995);
  --color-green-800: oklch(96.2% 0.044 156.743);
  --color-green-900: oklch(98.2% 0.018 155.826);

  --color-blue-50: oklch(37.9% 0.146 265.522);
  --color-blue-100: oklch(42.4% 0.199 265.638);
  --color-blue-200: oklch(48.8% 0.243 264.376);
  --color-blue-300: oklch(54.6% 0.245 262.881);
  --color-blue-400: oklch(62.3% 0.214 259.815);
  --color-blue-500: oklch(70.7% 0.165 254.624);
  --color-blue-600: oklch(80.9% 0.105 251.813);
  --color-blue-700: oklch(88.2% 0.059 254.128);
  --color-blue-800: oklch(93.2% 0.032 255.585);
  --color-blue-900: oklch(97% 0.014 254.604);

  --color-indigo-50: oklch(35.9% 0.144 278.697);
  --color-indigo-100: oklch(39.8% 0.195 277.366);
  --color-indigo-200: oklch(45.7% 0.24 277.023);
  --color-indigo-300: oklch(51.1% 0.262 276.966);
  --color-indigo-400: oklch(58.5% 0.233 277.117);
  --color-indigo-500: oklch(67.3% 0.182 276.935);
  --color-indigo-600: oklch(78.5% 0.115 274.713);
  --color-indigo-700: oklch(87% 0.065 274.039);
  --color-indigo-800: oklch(93% 0.034 272.788);
  --color-indigo-900: oklch(96.2% 0.018 272.314);

  --color-purple-50: oklch(38.1% 0.176 304.987);
  --color-purple-100: oklch(43.8% 0.218 303.724);
  --color-purple-200: oklch(49.6% 0.265 301.924);
  --color-purple-300: oklch(55.8% 0.288 302.321);
  --color-purple-400: oklch(62.7% 0.265 303.9);
  --color-purple-500: oklch(71.4% 0.203 305.504);
  --color-purple-600: oklch(82.7% 0.119 306.383);
  --color-purple-700: oklch(90.2% 0.063 306.703);
  --color-purple-800: oklch(94.6% 0.033 307.174);
  --color-purple-900: oklch(97.7% 0.014 308.299);

  --color-pink-50: oklch(40.8% 0.153 2.432);
  --color-pink-100: oklch(45.9% 0.187 3.815);
  --color-pink-200: oklch(52.5% 0.223 3.958);
  --color-pink-300: oklch(59.2% 0.249 0.584);
  --color-pink-400: oklch(65.6% 0.241 354.308);
  --color-pink-500: oklch(71.8% 0.202 349.761);
  --color-pink-600: oklch(82.3% 0.12 346.018);
  --color-pink-700: oklch(89.9% 0.061 343.231);
  --color-pink-800: oklch(94.8% 0.028 342.258);
  --color-pink-900: oklch(97.1% 0.014 343.198);

  --color-white: oklch(13% 0.028 261.692);
  --color-black: oklch(98.5% 0.002 247.839);
}
